<%= render "unity", game: 'iat' %>

<br />
<br />

<div class="main_content">
  <div class="mc_header">
      <h1>Implicit Association Test (IAT)</h1>
  </div>

  <div id="unityPlayer">
    <div class="missing">
      <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
        <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
      </a>
    </div>
  </div>
</div>
