<script type="text/javascript">
<!--
function GetUnity() {
  if (typeof unityObject != "undefined") {
    return unityObject.getObjectById("unityPlayer");
  }
  return null;
}
if (typeof unityObject != "undefined") {
  unityObject.embedUnity("unityPlayer", "/assets/iat.unity3d", 800, 600);
}

function GetAuthToken(){
  GetUnity().SendMessage("ADA", "ListenForToken", "PassedToken");
}
-->
</script>

<br />
<br />

<div class="main_content">
  <div class="mc_header">
      <h1>Implicit Association Test (IAT)</h1>
  </div>

  <div id="unityPlayer">
    <div class="missing">
      <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
        <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
      </a>
    </div>
  </div>
</div>
