<div id="consent_container" class="module full">
    <h1>Games Portal Data Consent</h1>
    <hr>

      <p>
        By registering for this site and use of the program, you are agreeing to take part in a research study about Science Technology Engineering Mathematics (STEM) games from the Games Learning Society Center at the University of Wisconsin-Madison. This Games Portal is the website, curriculum, and online community. Studio K uses Kodu to teach game design and problem solving. By signing up for this site, you will be using Games Portal to help you learn. You will be able to play all of the STEM games made by the GLS Center,
        </p>
      <h3>WHAT IS THIS STUDY?</h3>
      <p>
      This research is about how kids learn and think about STEM concepts when they're using games as a way to help them learn. Researchers will use the information from your gameplay, your answers to quizzes, and your interactions with your peers on the site to try to understand how games may help kids learn. Researchers will be conducted on all activity on the site. Quizzes that you complete on the site will be used for research. For all activity on the site, you should not include any personal information (like your name, where you live, where you go to school, etc.).
      </p>


      <h3>HOW WILL MY PRIVACY BE PROTECTED?</h3>
      <p>
      All information will be kept on the site or on password protected servers in our lab. There is a possibility that we will write reports using the information you put on the site. We will not include any of your personal information in these reports. This study is for all users of the Games Portal site and curriculum. If you are a minor (under the age of 18), you should get your parents’ permission to register for and use this site. The research will continue as long as you use the site. You can delete your account at any point if you want to be removed from the study.
      </p>


      <h3>ARE THERE ANY RISKS TO ME?</h3>
      <p>
      There are small risks in signing up for the site and taking part in this study. There is a small risk that we will find out who you are if you include personal information (like your name, where you live, where you go to school, etc.) in usernames and open ended questions and comments on the site. There is also a risk that we will find out who you are if you use your email during registering for the site. To reduce these risks, researchers will not include any personal information in the study if you include it. You should not write any personal information in the site. Only researchers on the study team will use your data.
      </p>

      <h3>ARE THERE ANY BENEFITS TO ME?</h3>
      <p>
      We cannot promise any benefits. The study may increase your understanding of some STEM concepts.
      </p>

      <h3>WHO DO I TALK TO IF I HAVE QUESTIONS?</h3>

      <p>
      You can ask us questions about the study. If you have questions please email outreach@learninggamesnetwork.org. Call the Education Research and Social & Behavioral IRB Office at 608.263.2320 if you still have questions. They can help tell you what it means to be in a study.

      </p>
      <p>
      By signing up for this site, you are agreeing to participate in this study and all information you put on the site will be used for research. You can delete your account at any point to remove yourself from the study. If you are a minor (under the age of 18), you should get your parents’ permission to register for and use this site.

      </p>
    <hr>

    <%= link_to consent_consent_path, :method => :put do %>
      <h2 class="left">Yes, I agree to participate</h2>
    <% end %>

    <%= link_to main_app.logout_path, :method => :delete do %>
      <h2 class="right"> No, I do not agree to participate</h2>
    <% end %>
</div>
