<br />
<br />

<div class="main_content">
    
    <div class="mc_header">
        <h1>Virtual Games for STEMM Faculty: Breaking the Bias Habit: Informed Consent Form</h1>
    </div>
    
    <hr>
        
    <p>
        You are being asked to participate in an NIH-funded study to teach about implicit bias toward
        underrepresented individuals in academic science, technology, engineering mathematics, and
        medicine (STEMM).
        <br /><br />
        This study includes an intervention designed to teach participants about various forms of implicit
        bias and how they can impact individuals in academia. It also seeks to examine opinions, beliefs,
        and spontaneous or automatic reactions for a variety of topics. Should you agree to participate,
        you will be exposed to the intervention and then asked to complete a timed categorization task
        (in which words are sorted into groups as quickly as possible) and answer a few short questions.
        <br /><br />
        Should you choose to participate, it will take you approximately 30 minutes to complete the
        intervention and survey. To facilitate longitudinal analysis, your results will be linked to your
        future/past administrations of this survey via a unique identifier that you create. Because the
        researchers will have no way to link the identifier to you, your responses are anonymous, thus
        reducing or eliminating the risk of a breach of confidentiality. Anonymity is also maintained
        by aggregating responses to this survey above the department level when the study results are
        presented in public forums.
        <br /><br />
        Your participation in this survey is voluntary and you can withdraw from participation at any
        time by closing the study window. If you have questions about this survey or how the data will
        be used, please contact the study director, Dr. Molly Carnes, Professor of Medicine, phone:
        (608) 263-9770, email: mlcarnes@wisc.edu. If you have any questions about your rights as a
        research subject, please call the University of Wisconsin-Madison Social & Behavioral Science
        Institutional Review Board (IRB) at (608) 263-2320.
        <br /><br />
        By continuing with this survey, you are indicating that you have read the informed consent
        statements above and agree to participate in this study.
    </p>
    
    <hr>
     
    <div class="AcceptDecline_container">    
        <ul class="AcceptDecline">            
          <li>
            <%= link_to consent_consent_path, :method => :put do %>
              <span>Accept</span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, :method => :delete do %>
              <span>Decline</span>
            <% end %>
          </li>
        </ul>
    </div>
    
</div>
