<br />
<br />

<div class="main_content">
    
    <div class="mc_header">
        <h1>FairPlay? A study of perspective-taking</h1>
        <h1>Principal Investigator: Molly L. Carnes</h1>
    </div>
    
    <hr>

    <p>
      <h2>Description of the Research:</h2>
      We are studying active and passive perspective taking of a character in a story about academic advancement in science, technology, engineering, mathematics, and medicine (STEMM). As part of this study, we are developing website and video game interventions, in which participants are asked to take the perspective of the main character. 
      <br /><br />
      <h2>What will my participation involve?</h2>
      Your participation will involve either playing a video game or reviewing materials on a website and completing two outcome measures. Your participation should take approximately 30 minutes. Should you choose to participate in the study, clicking the “continue” button at the bottom of this page serves as your informed consent. Once you click “continue,” you will be asked to create a username and password. This username will be used to match your participation in the intervention with outcome measures. To preserve your anonymity, we advise you to choose a username that does not include any personally identifying information. The data that we collect will not be linked to you personally, but to the login identifier, which you create. Data from your participation in the online activity and outcome measures will be stored on password encrypted servers. Only members of the research team will have access to this data. We will record your scores and progress in the game, or website. Information about your game play (such as time-spent, or options selected) will be stored on a password-protected server at the Wisconsin Institute s for Discovery at the University of Wisconsin, Madison. Only key personnel on this project will have access to that information. Participation in this research is voluntary and you may withdraw at any time. 
      <br /><br />
      <h2>Are there any risks or benefits associated with my participation in this study?</h2>
      There are no anticipated risks associated with participation in this study.  
      There is no direct benefit to you. 
      <br /><br />
      <h2>How will my confidentiality be protected?</h2>
      Should you consent to participate, your information will be protected and stored on secured servers at the Wisconsin Institutes for Discovery at the University of Wisconsin-Madison. Only members of the research team will have access to them. 
      <br /><br />
      <h2>Whom should I contact if I have questions?</h2>
      You may direct questions to Belinda Gutierrez (phone: 608-263-9770, email: bgutierrez@wisc.edu) or the Principal Investigator, Dr. Molly Carnes, Professor of Medicine and Director of the Center for Women’s Health Research (608-263-9770; email: mlcarnes@wisc.edu). If you have any questions about your rights as a research subject, please call the Social & Behavioral Science Institutional Review Board (IRB) at (608) 263-2320. 
      <br /><br />

    </p>
        
   
    <hr>
     
    <div class="AcceptDecline_container">    
        <ul class="AcceptDecline">            
          <li>
            <%= link_to consent_consent_path, :method => :put do %>
              <span>Accept</span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, :method => :delete do %>
              <span>Decline</span>
            <% end %>
          </li>
        </ul>
    </div>
    
</div>
