

<div id="class-form" class="dashboard_content_container">
    <div class="header">
        <p>Create Class</p>
    </div>

    <div class="subsection">
        <p class="subhead">Name</p>
        <p>
          <%= simple_form_for @group do |f| %>
            <%= f.input :name  , placeholder: 'Class Name', label: false %>
            <a><p><%= f.button :submit,value: :Create %></p></a>
          <% end %>
        </p>

    </div>
</div>