<div class="welcome_back_container"><p>Create Class</p></div>

<div class="module two_thirds left">
  <%= simple_form_for @group do |f| %>
    <h2><%= f.input :name  , placeholder: 'Class Name'%></h2>

    <%= f.button :submit,class: :blue_button,value: :Create %>
  <% end %>
</div>