<% unless Game.find_by_featured(true).nil? %>
    <% g = Game.find_by_featured(true) %>
    <%= link_to play_game_url(id: g.path) do %>

        <div class="featured_game_econauts">
            <div class="featured_label">
                <p>Featured Game</p>
                <p class="featured_game_name"><%= g.name %></p>
            </div>
        </div>
    <% end %>
<% end %>