<% games.each do |g| %>
  <%= link_to play_game_url(id: g.path) do %>
    <div  class="game_button">
      <div class="game_thumb" style="background: url(<%= g.image.url %>);">
        <% if g.file.exists? or g.external_download %>
            <div class="play_now_button">
                <p>Play Now</p>
                <div class="play_button_icon"></div>
            </div>
        <% end %>

        <% if can? :resource, Game %>
          <% if g.attachments.lessons.exists? %>
            <ul class="menu">
              <li class="view_lesson_plan_button">
                <div class="lesson_plan_icon"></div>

                  <ul>
                    <% g.attachments.lessons.each do |dl| %>
                      <li><% link_to dl.file.original_filename, raw(dl.file),target: "#" %></li>
                    <% end %>
                  </ul>
              </li>
            </ul>
          <% end %>

          <% if g.attachments.cirriculum.exists? %>
            <ul class="menu">
              <li class="view_resources_button">
                <div class="resources_icon "></div>
                  Cirriculum
                  <ul>
                    <% g.attachments.cirriculum.each do |dl| %>
                      <li><% link_to dl.file.original_filename, raw(dl.file),target: "_blank" %></li>
                    <% end %>
                  </ul>
              </li>
            </ul>
          <% end %>
        <% end %>
      </div>

      <div class="game_label">
          <p><%= g.name %></p>
      </div>
    </div>
  <% end %>
<% end %>

<%= render "user/admin" %>