<div id="gamelist" class="owl-carousel">
  <%= div_for(Game.all) do |g| %>
    <%= link_to play_game_url(id: g.path) do %>
      <%= image_tag g.image.url %>
    <% end %>
  <% end %>
</div>


<script type="text/javascript">
  $(document).ready(function() {

    $("#gamelist").owlCarousel({
      items: 3,
      itemsScaleUp : true,
      navigation: true,
      navigationText:  ["<",">"]
    });

  });
</script>