<%= render "unity", game: @game.path %>
<div class="game_container">

  <% if @game.localpath.empty? %>
    <div id="unityPlayer">
      <div class="missing">
        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
          <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
        </a>
      </div>
    </div>
  <% else %>
    <div id="Player">
        <%= raw(@file)%>
    </div>
  <% end %>

  <%= render "preview" %>
</div>
