defaults: &DEFAULTS
  adapter: postgresql
  encoding: unicode

development:
  <<: *DEFAULTS
  database: gls_portal_development

  adage:
    <<: *DEFAULTS
    database: ada_development

test: &TEST
  <<: *DEFAULTS
  database: gls_portal_test

  adage:
    <<: *DEFAULTS
    database: ada_test


cucumber:
  <<: *TEST