defaults: &DEFAULTS
  adapter: postgresql
  encoding: unicode
  pool: 5
  username:
  password:

development:
  <<: *DEFAULTS
  database: kodu_development

test: &TEST
  <<: *DEFAULTS
  database: kodu_test

cucumber:
  <<: *TEST
