<div class="playsquad_login_container">

    <div class="playsquad_logo"></div>

    <input type="textbox" class="login_textbox" placeholder="Enter Your Username Here">
    </input>

    <input type="textbox" class="login_textbox" placeholder="Enter Your Password Here">
    </input>

    <a href="dashboard.html">
       <%= render "links" %>
    </a>

</div>