<div class="large_gls_logo">Insert GLS Logo</div>

<hr>
<% if flash[:notice] %>
  <div class="error_container center">
    <div class= "error_box center ">
      <div class="error_img"></div>
      <span id="notice"><%= flash[:notice] %></span>
    </div>
  </div>
<% end %>

<div class="login_container">
  <%= render "links" %>
</div>
