
<% if user_signed_in? %>
  <%= link_to profile_url(name: current_user.player_name) do %>
    <li>Dashboard</li>
  <% end %>
<% end %>

<div class="logged_in">
  <% if user_signed_in? %>
    <p class="username"><%= current_user.player_name%></p>
    <%= link_to main_app.logout_path, :method => :delete do %>
      <p class="log_out">Log Out</p>
    <% end %>
  <% else %>
    <% if !logged_in %>
      <%= link_to main_app.login_path, class: :login do %>
        Sign in
      <% end %>
    <% end %>
  <% end %>
</div>