<div class="logged_in_as">
  <% if user_signed_in? %>
    <p><%= current_user.player_name%></p>
    <%= link_to main_app.logout_path, :method => :delete do %>
      Log Out
    <% end %>
  <% else %>
    <% if !logged_in %>
      <%= link_to main_app.login_path, class: :login do %>
        Sign in
      <% end %>
    <% end %>
  <% end %>
</div>