
<% if user_signed_in? %>
  <%= link_to profile_url(name: current_user.player_name) do %>
    <li>Dashboard</li>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <div class="logged_in">
    <p class="username"><%= current_user.player_name%></p>
    <%= link_to main_app.logout_path, :method => :delete do %>
      <p class="log_out">Log Out</p>
    <% end %>
  </div>
<% else %>
<ul class="nav">
  <% if !logged_in %>
    <%= link_to main_app.login_path, class: :login do %>
    <li>Sign in</li>
    <% end %>
  <% end %>
</ul>
<% end %>