<div id="admin">
  <% if user_signed_in? && current_user.admin %>
    <%= link_to "Add Game", new_game_path , method: :get%>
  <% end %>

  <% unless @game.nil? or @game.id.nil? %>
    <%= link_to "Edit", edit_game_path(id: @game.path) %>
    <%= link_to_unless @game.path.nil?, "Delete", game_path(@game.path), :method => :delete, :confirm => "Are You sure?",
                      :title => "Delete #{@game.name}" %>
  <% end %>
</div>