<div class="full">
  <% if user_signed_in? && (current_user.admin || current_user.has_role(:admin) )%>
    <div class="admin_buttons">
      <%= link_to main_app.new_game_path , class: "admin_button", method: :get do %>
         <p>Add Game</p>
      <% end %>

      <% unless @game.nil? or @game.id.nil? %>
        <%= link_to main_app.edit_game_path(id: @game.path), class: "admin_button" do %>
          <p>Edit</p>
        <% end %>
        <%= link_to main_app.game_path(@game.path), :method => :delete, :confirm => "Are You sure?", class: "admin_button" do %>
          <p>Delete <%= @game.name %></p>
        <% end %>
      <% end %>

    </div>
  <% end %>
</div>