<div class="welcome_back_container">
    <p class="left">Viewing <span class="welcome_name"><%= @user.player_name %></span> </p>

</div>

<%= render "activity_module" %>
<%= render "playtime_module" %>