<div class="subsection">
  <p class="subhead">Play Time</p>
  <% found_data = false %>
  <% @games.each do |game| %>
    <% if game.has_data(@user) %>

      <% data = game.play_data(@user) %>
      <% if data %>
      <% found_data = true %>
      <hr>
        <p><h3><%= game.name %></h3></p>

        <p class="one_third left">Average Playtime <b><%= data[:average_time] %> minutes</b></p>
        <p class="one_third left">Total Playtime <b><%= data[:total_time]%> minutes</b></p>
        <p class="one_third left">Times Played <b><%= data[:sessions]%> times</b></p>
      <% end %>
    <% end %>
  <% end %>

  <% unless found_data %>
    <p>No Play Time Data Found</p>
  <% end %>
</div>