<div id="container">
  <h3>Profile</h3>

  <div id="user">
    <ul><%= @user.player_name %></ul>
    <ul>email</ul>
    <ul>link to adage update profile</ul>
    <ul>user roles?</ul>
  </div>

  <div id="game_stats">
    <ul>Top played games/Time per game</ul>
    <ul>GameName: 55min</ul>
    <ul>GameName: 55min</ul>
    <ul>GameName: 55min</ul>
    <ul>Total Play time</ul>
  </div>

  <div id="badges">
  </div>
</div>