<div class="welcome_back_container">

    <p class="left">Welcome back, <span class="welcome_name"><%= @user.player_name %></span> </p>

    <a href="<%= ENV["ADAGE_PROFILE_URL"] %>" class="right">
        <div class="blue_button">
            <p>Update Profile</p>
        </div>
    </a>
</div>


<div class="module full">
    <h2>Activity</h2>
        <hr>
    <p>Christian Played: Cristals of Kaydor for <span class="bold">5:23</span></p>
</div>
<div class="module one_third left">
    <h2>Students</h2>
        <hr>
    <p class="bold">Timmy Smith</p>
    <hr>
    <p class="bold">Timmy Smith</p>
    <hr>
    <p class="bold">Timmy Smith</p>
    <hr>
    <p class="bold">Timmy Smith</p>
    <hr>
    <p class="bold">Timmy Smith</p>
</div>

<div class="module two_thirds right">
    <h2>Play Time</h2>
    <% @games.each do |game| %>
      <% if game.has_data %>
        <hr>

        <p class="left">Last Played: Cristals of Kaydor for <span class="bold">5:23</span></p>
        <a class="view_all right">View All</a>
      <% end %>
    <% end %>
</div>