/* Base Mixins */

@mixin rounded($radius: 0px) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}