@import 'base';

#gamelist{
  background: rgba(204, 204, 204, 0.73) !important;
  padding: 9px;
  padding-right: 0px;
  margin: 30px 0px;

  .game{
    padding: 0px;
    margin: 0px;
    width: 300px;
    height: 100%;
    display: inline-block;
  }

  img{
    width: 300px;
    height: auto;
  }

}

.game-img{
  width: 492px;
  height: auto;
}

.owl-page{
  display: none !important;
}

.owl-buttons div{
  background: black !important;
}

//Override default width value
.owl-carousel{
  width: auto !important;
}

.game_links{
  display: block;
  clear:both;
  background: #eee;
  padding: 5px 0px;
  width: 492px;

  a{
      padding: 10px;
      font-size: 20px;
  }

  &:empty{
    display: none;
  }
}