#user{
  border: 1px solid darkgray;
  width: 40%;
  padding: 10px;
  float:right;
}

#game_stats{
  padding: 10px;
  margin-bottom: 50px;
  width: 40%;
  height: 500px;
  border: 1px solid darkgray;
}

#badges{
  height: 500px;
  border: 1px solid darkgray;
  margin: 0 auto;
}