#title{
  margin-bottom: 10px;
}

#user{
  border: 2px solid darkgray;
  width: 40%;
  padding: 20px;
  float:right;
}

#game_stats{
  padding: 20px;
  margin-bottom: 30px;
  width: 40%;
  border: 2px solid darkgray;

  #played{
    margin-top: 5px;
    min-height: 300px;

    .title{
      margin-right: 10px;
    }

    ul{
      float: right;
      padding: 5px;
    }
  }
}

#user{
  #account{
    min-height: 300px;
  }
}

#badges{
  height: 500px;
  padding: 20px;
  border: 2px solid darkgray;
  margin: 0 auto;
}