#title{
  margin-bottom: 10px;
}

#user{
  border: 2px solid darkgray;
  width: 40%;
  padding: 20px;
  float:right;
}

#game_stats{
  padding: 20px;
  margin-bottom: 30px;
  width: 40%;
  border: 2px solid darkgray;

  h2{
    padding-bottom: 4px;
    border-bottom: 2px solid lightgray;
  }

  #played{
    margin-top: 5px;
    min-height: 300px;

    #game{
      margin-top: 10px;

      div{
        display: inline-block;
        padding: 5px;

        label{
          text-align: left;
        }
      }
    }

    .title{
      display: inline-block;
      width: 150px;
      margin-right: 10px;
    }
  }
}

#user{
  #account{
    margin-bottom: 20px;
    min-height: 300px;
  }
}

#badges{
  height: 500px;
  padding: 20px;
  border: 2px solid darkgray;
  margin: 0 auto;
}