
/*------------------------------------------------------------------

STYLESHEET CONTENTS
    -- IMPORTS
    -- MIXINS
    -- GLOBAL STYLES
    -- MISC CLASSES
    -- TYPEKIT
    -- ACTIVE PAGE
    -- CONTAINERS
    -- NAVIGATION
    -- ELEMENTS
    -- FORM ELEMENTS
    -- FOOTER

-------------------------------------------------------------------*/


/*------------------------------------------------------------------

    Imports

-------------------------------------------------------------------*/

@import 'layout.css.scss';
@import 'unity.css.scss';


/*------------------------------------------------------------------

    Mixins

-------------------------------------------------------------------*/

@mixin center{ margin:0 auto; }

@mixin full { width:100%; float:left; }

@mixin transition{
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
}

@mixin rounded_corners{
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

@mixin page_width{
    width:75%; padding:0 20px;
}

/* End Mixins */



/*------------------------------------------------------------------

    Global Styles

-------------------------------------------------------------------*/

* {
    margin:0; padding:0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

html{ overflow:scroll; background:#d4dce0; }

body{
    background:url(bg_grad.png) 50% 0% no-repeat;
    height: 100%;
}

a{ text-decoration:none; }
    a:hover{  }

p{
    font-family:verdana;
    color:#9eabb5;
    font-size:14px;
}

ul{ list-style:none; }

hr{
    @include full;

    height:1px;
    border:none;
    background:#b4c6cf;
    margin:10px 0;
}

h1{
    font-family:proxima-nova;
    color:#637b8c;
    font-weight:700;
}

h2{
   font-family:proxima-nova;
   color:#637b8c;
   font-weight:500;
}

h3{  }
h4{  }
h5{  }

::selection{ background:#343d44; color:white; }

/* End Global Styles */



/*------------------------------------------------------------------

    Misc Classes

-------------------------------------------------------------------*/

.clear{ clear: both; }

.left{ float:left; }
.right{ float:right; }

.bold{ font-weight:bold;}
.italic{ font-style: italic; }
.underline{ text-decoration:underline; }
.view_all{
    color: #2376b3;
    text-align: right;
    font-family: verdana;
    font-size: 11px;

    &:hover{ cursor:pointer; text-decoration:underline;}
}

.center_text{ text-align:center; }
.all_caps{ text-transform:uppercase; }
.lower_case{ text-transform:lowercase; }

/* End Misc Classes */


/*------------------------------------------------------------------

    Typekit

-------------------------------------------------------------------*/

    /*
     font-family: "proxima-nova"; Weights -- 300  400  600  700
    */

/* End Typekit */



/*------------------------------------------------------------------

    Active Page

-------------------------------------------------------------------*/

    /*
      body#ID_NAME_HERE .Navigation_Name li.List_Item_Class_Here{ Style for active Nav button }
    */

/* End Active Page */



/*------------------------------------------------------------------

    Containers

-------------------------------------------------------------------*/


.one_eigth{ width:12.5%; }
.one_sixth{ width:16.66%;}
.one_fourth{ width:25%; }
.one_third{ width:32.5%; }
.one_half{ width:50%; }
.two_thirds{ width:65.5%; }
.full{ @include full; }

.container{
    @include full;
    @include rounded_corners;

    background:white;
    border:1px solid #b4c6cf;
}

.page_wrap{ @include center; @include page_width; }

.main_content{ @include full; }

.playsquad_login_container{
    @include center;

    width:387px;
    padding:13% 0 0 0;

    .blue_button{
        margin-left:28%;
    }
}

.module{
    @include rounded_corners;

    z-index:9;
    position:relative;

    padding:20px;
    margin:0 0 20px 0;
    background:white;
    border:1px solid #b4c6cf;
}

.logged_in_as{
    height:55px;
    float:right;

    p{
        width:100%;
        float:right;
        margin:8px 0 -8px 0;

        color:#e3e9eb;
        text-align:right;
        font-family:proxima-nova;
        font-weight:300;
        font-size:25px;
        text-shadow:0px 2px 0px black;
    }

    a{
        float:right;

        color:#2376b3;
        text-align:right;
        font-family:verdana;
        font-size:11px;
        text-shadow:0px 2px 0px black;

        &:hover{ cursor:pointer; text-decoration:underline; }
    }
}

.welcome_back_container{
    @include full;

    padding:25px 0;
    margin:10px 0 0 0;

    p{
        font-family:proxima-nova;
        font-size:35px;
        color:#637b8c;
    }

    span.welcome_name{ font-weight:700; font-style:italic; }

    .blue_button{
        padding:8px 15px;
        p{
            font-size:17px;
            a{
                display: block;
            }
        }
    }
}

.featured_game_container{ @include full; margin:30px 0; }
    .fg_image{
        @include center;

        height:236px;
        width:980px;
        background:url(fg_crystals.png);
    }

    .play_now_container{
        float:left;
        margin:165px 0 0 20px;

        .blue_button{ float:left; }
    }

    .featured_game_title{
        float:left;
        margin:0 0 0 20px;

        p.fg_label{
            font-family:proxima-nova;
            color:#72d1f8;
            font-size:25px;
            font-weight:500;
            margin:-5px 0 -10px 0;
        }

        p.fg_name{
            font-family:proxima-nova;
            color:white;
            font-size:37px;
            font-weight:900;
        }
    }

.game_container{
    @include full;
    @include rounded_corners;

    margin:0 0 20px 0;
    background:white;
    border:1px solid #b4c6cf;

    img{ width:25%; }

    .game_description{
        float:left;
        padding:0 0 0 0;
    }

    h1{ margin:0 0 5px 0; }

    .game_description{
        width:75%;
        padding:25px;

        .game_nav{
            width:auto;
            height:50px;
            margin:20px 0 0 0;

            background:#e8edef;

            a{
                li{
                    @include transition;

                    float:left;
                    height:50px;
                    padding:0 20px;
                    border-right:1px solid white;

                    line-height:50px;
                    font-family:proxima-nova;
                    font-weight:600;
                    color:#778b92;
                    font-size:18px;
                    text-transform:uppercase;

                    &:hover{
                    @include transition;

                    background:rgba(255,255,255,.5);
                }

                }
            }
        }
    }

}



/* End Containers */



/*------------------------------------------------------------------

    Navigation

-------------------------------------------------------------------*/

header{
    @include full;

    height:55px;
    background:url(header_bg.png) no-repeat #0f283a;
}

.navigation_container{
    @include center;

    @include page_width;
    height:55px;
}

.header_logo{
    height:105px;
    width:94px;
    float:left;
    margin:0 0 0 0;

    z-index:999;
    position:relative;

    background:url(header_logo.png);
}

.nav{
    float:left;
    height:55px;
    width:50%;
    margin:0 0 0 0;

    a{

        li{
            float:left;
            height:55px;
            line-height:55px;
            padding:0 15px;

            color:#e3e9eb;
            font-family:proxima-nova;
            font-weight:500;
            font-size:20px;
            text-shadow:0px 2px 0px black;

            @include transition;

            &:hover{
                @inlcude transition;

                background: rgba(31,92,136,.35);
            }

        }
    }
}

.nav_divider{
    height:55px;
    width:0px;
    float:left;
    border-left:1px solid #1c4f73;
    border-right:1px solid #0d2333;
}

/* End Navigation */



/*------------------------------------------------------------------

    Elements

-------------------------------------------------------------------*/

.playsquad_logo{
    float:left;
    margin:0 0 -10% 10%;
    height:375px;
    width:291px;
    background:url(playsquad_logo.png) no-repeat;
}

.blue_button{
    @include rounded_corners;

    float:left;
    padding:12px 35px;

    background: #53afd1; /* Old browsers */
    background: -moz-linear-gradient(top,  #53afd1 0%, #3785b9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53afd1), color-stop(100%,#3785b9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #53afd1 0%,#3785b9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #53afd1 0%,#3785b9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #53afd1 0%,#3785b9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #53afd1 0%,#3785b9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53afd1', endColorstr='#3785b9',GradientType=0 ); /* IE6-9 */

    border-top:1px solid #64beda;
    box-shadow: 0px 5px 0px #176a94,
                0px 10px 15px rgba(0,0,0,.025);

        &:hover{
            background: #67b3ce; /* Old browsers */
            background: -moz-linear-gradient(top,  #67b3ce 0%, #5690b7 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67b3ce), color-stop(100%,#5690b7)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #67b3ce 0%,#5690b7 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #67b3ce 0%,#5690b7 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #67b3ce 0%,#5690b7 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #67b3ce 0%,#5690b7 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b3ce', endColorstr='#5690b7',GradientType=0 ); /* IE6-9 */
        }

        &:active{
            margin-top:5px;
            box-shadow: 0px 10px 15px rgba(0,0,0,.05);
        }

        p{
            color:white;
            font-family:proxima-nova;
            font-weight:700;
            text-shadow:0px 2px 0px #3581b2;
            text-align:center;
            font-size:20px;
            text-transform:uppercase;
            letter-spacing:2px;
        }

}


/* End Elements */



/*------------------------------------------------------------------

    Form Elements

-------------------------------------------------------------------*/

input[type=textbox].login_textbox{
    @include full;
    @include rounded_corners;

    padding:15px 13px;
    margin:0 0 25px 0;

    font-family:proxima-nova;
    font-style:italic;
    color:#94b1bf;
    font-size:18px;
    font-weight:500;


    border:solid 1px #b4c6cf;
    box-shadow:0px 10px 15px rgba(0,0,0,.05);

}

/* End Form Elements */



/*------------------------------------------------------------------

    Footer

-------------------------------------------------------------------*/
footer{  }

/* End Footer */












