
/*------------------------------------------------------------------

STYLESHEET CONTENTS

    -- GLOBAL STYLES
    -- MIXINS
    -- MISC CLASSES
    -- ACTIVE PAGE
    -- CONTAINERS
    -- NAVIGATION
    -- ELEMENTS
    -- FOOTER

-------------------------------------------------------------------*/

@import 'mixins';
@import 'forum';


/*------------------------------------------------------------------

    Global Styles

-------------------------------------------------------------------*/

* {
    margin:0; padding:0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

html{ overflow:scroll; background:url(bg.png) #f5f5f5 no-repeat;  }

body{ font-family:verdana; font-size:12px; }

a{ text-decoration:none; }
    a:hover{  }

p,input{
    font-family: open sans;
    color: #617587;
    font-size: 16px;
    font-weight: 500;
}

.subhead{
    color: #9aa4ad;
    font-family: futura-pt;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

ul{ list-style:none; }

hr{  }

h1{  }
h2{  }
h3{  }
h4{  }
h5{  }

::selection{ background:#C72626; color:white; }

/* End Global Styles */




/*------------------------------------------------------------------

    Misc Classes

-------------------------------------------------------------------*/

.clear{ clear: both; }

.left{ float:left !important; }
.right{ float:right !important; }

.bold{ font-weight:bold;}
.italic{ font-style: italic; }
.underline{ text-decoration:underline; }
.redtext{ color:#c72626; }

.center_text{ text-align:center; }
.all_caps{ text-transform:uppercase; }
.lower_case{ text-transform:lowercase; }
.center {text-align:center;};
.relative{position:relative !important;}

/* End Misc Classes */



/*------------------------------------------------------------------

    Active Page

-------------------------------------------------------------------*/

    /*
      body#ID_NAME_HERE .Navigation_Name li.List_Item_Class_Here{ Style for active Nav button }
    */

/* End Active Page */



/*------------------------------------------------------------------

    Containers

-------------------------------------------------------------------*/

.one_eigth{ width:12.5%; }
.one_sixth{ width:16.66%;}
.one_fourth{ width:25%; }
.one_third{ width:33.33%; }
.one_half{ width:50%; }
.two_thirds{ width:66.66%; }
.full{ @include full; }

.container{  }

.page_wrap{ width:1010px; padding-top:20px; @include center; }

.main_content{ @include full; }

/* End Containers */



/*------------------------------------------------------------------

    Navigation

-------------------------------------------------------------------*/

header{
    @include full;

    height:67px;
    background:#18222b;
    margin:0 0 25px 0;

    .navigation_container{
        @include center;

        width:980px;

        .nav{
            float:right;

            li{
                @include transition;

                height:67px;
                float:left;
                padding:0 20px 0 20px;

                font-family:open sans;
                color:#e1e8ee;
                line-height:67px;
                font-size:20px;
                font-weight:200;

                &:hover{
                    background:#c72626;
                }
            }

            .logged_in{
                float:right;
                text-align:right;
                margin:12px 0 0 20px;

                font-family:open sans;
                font-weight:200;

                .username{
                    color:#e1e8ee;
                    font-size:18px;
                }

                .log_out{
                    @include transition;

                    color:#C72626;
                    font-size:13px;

                    &:hover{
                        color:white;
                    }
                }
            }
        }
    }

    .logo_container{


        .glss_logo{
            height:53px;
            width:47px;
            float:left;
            margin:5px 0 0 0;
            background:url(glss_logo.png);
        }

        .gamesportal_logotype{
            float:left;
            margin:6px 0 0 13px;

            p{
                color:#e1e8ee;
                font-family:futura-pt;
                font-weight:900;
                font-size:30px;
                letter-spacing:1px;
                line-height:53px;
                text-transform:uppercase;
            }
        }
    }
}




/* End Navigation */


/*------------------------------------------------------------------

    Elements

-------------------------------------------------------------------*/

.element{  }

.subsection{
    @include full;

    margin:20px 0;
}

.featured_game_econauts{
    height:315px;
    width:980px;
    margin:0 0px 20px 12px;
    float:left;
    background:url(featured_econauts.png);

    .featured_label{
        background: #18222b;
        padding:20px;
        float:left;
        margin:175px 0 0 30px;

        p{
            color: #e1e8ee;
            font-family: futura-pt;
            font-weight: 900;
            font-size: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .featured_game_name{
                font-size:30px;
                color:#c72626;
            }

    }
}

.game_button{
    height:276px;
    width:314px;
    background:#18222b;
    float:left;
    margin:0px 10px 20px 10px;

    .game_label{
        height:67px;
        width:314px;
        background:#18222b;

        p{
            font-family:futura-pt;
            font-weight:900;
            font-size:22px;
            color:white;
            letter-spacing:1px;
            line-height:67px;
            text-align:center;
            text-transform:uppercase;
        }
    }
}

.game_content_container{
    @include center;

    width:800px;

    .game_header{
        @include full;

        p{
            float:left;
            color: #18222B;
            font-family: futura-pt;
            font-weight: 900;
            font-size: 30px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        a{
            @include transition;

            float:right;
            background:#c72626;

            &:hover{ background:#e14949;}

            p{
                margin:10px;
                font-family:futura-pt;
                font-weight:900;
                font-size:20px;
                color:white;
                letter-spacing:1px;
                text-transform:uppercase;
            }
        }

    }

}

.admin_buttons{
    a{
        @include transition;

        float:left;
        background:#cecece;
        margin:0 10px 0 0;

        &:hover{ background:#bababa;}

        p{
            margin:10px;
            font-family:futura-pt;
            font-weight:900;
            font-size:15px;
            color:white;
            letter-spacing:1px;
            text-transform:uppercase;
        }
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(1080deg);
    }
}

.dashboard_content_container{
    @include center;

    width:100%;

    .header{
        @include full;

        p{
            margin:20px 0 0 0;
            float:left;
            color: #18222B;
            font-family: futura-pt;
            font-weight: 900;
            font-size: 30px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .red_button{

        }

        a{
            @include transition;

            float:right;
            background:#c72626;
            margin:0 0 20px 0;

            &:hover{
                background:#e14949;

                p{
                    margin:10px;
                    font-family:futura-pt;
                    font-weight:900;
                    font-size:20px;
                    color:white;
                    letter-spacing:1px;
                    text-transform:uppercase;
                }
            }

        }
    }

}

.module{
    @include full;

    padding:20px;
    background:#eaeaea;
    margin:10px 0;

    .header{
        @include full;

        p{
            float:left;
            color: #18222B;
            font-family: futura-pt;
            font-weight: 900;
            font-size: 30px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        a{
            @include transition;

            float:right;
            background:#c72626;

            &:hover{
                background:#e14949;
            }

            p{
                margin:8px 15px;
                font-family:futura-pt;
                font-weight:900;
                font-size:20px;
                color:white;
                letter-spacing:1px;
                text-transform:uppercase;
            }
        }

    }
}



.tooltip {
    position: relative;
    display: inline-block;
    float:left;
}

.tooltip:before, .tooltip:after {
    position: absolute;
    opacity: 0;
    z-index: 1000000;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    pointer-events: none;
}


.tooltip:hover:before, .tooltip:hover:after {
    opacity: 1;
}

.tooltip:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    position: absolute;
}

.tooltip:after {
    content: attr(data-tooltip);
    background: #18222b;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    white-space: nowrap;
}


/* top */

.tooltip_top:before {
    bottom: 100%;
    left: 30%;
    margin: 0 0 -18px -6px;
    border-top-color: #18222b;
}

.tooltip_top:after {
    bottom: 100%;
    left: 10%;
    margin: 0 0 -6px -10px;
}

.tooltip_top:hover:before {
    margin-bottom: -10px;
}

.tooltip_top:hover:after {
    margin-bottom: 2px;
}

.gear_svg{
    fill:white;
    height:23px;
    margin-top:3px;
}

.red_button{
    padding:5px 10px;
    background:#c72626;

    font-family: futura-pt;
    font-weight: 900;
    font-size: 22px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;

    &:hover{
    background:#e14949;

        .gear_svg{
            -webkit-animation-name: spin;
            -webkit-animation-duration: 5000ms;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
        }
    }
}

.econauts{
    height:87px;
    width:87px;
    background:url(../images/by_title_econauts.png);
    margin:15px 23px 0 0;
}

.view_all_achievements{
    @include transition;

    height:87px;
    width:87px;
    margin:15px 0 0 0;
    background: #c72626;
    float:left;

    &:hover{
        background: #e14949;
    }

    p{
        padding:18px 0 0 0;
        color: white;
        font-family: futura-pt;
        font-weight: 900;
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align:center;
    }
}

.guilds_button{
    @include transition;

    height:266px;
    width:32%;
    float:left;
    margin:20px 20px 10px 0;
    background:#9bb2c8;
    overflow:hidden;

    position:relative;

    p{
        @include transition;

        z-index:99;
        position:absolute;

        width:100%;
        float:left;

        text-align:center;
        color: white;
        font-family: futura-pt;
        font-weight: 900;
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 53px;
        text-transform: uppercase;
        line-height:370px;
    }

    svg{
        @include transition;

        fill:white;
        height:113px;
        float:left;
        margin:50px 0 0 110px;

        z-index:0;
         /* align center */
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;

    }

    &:hover{
        background:#b1c7da;

        p{
            line-height:266px;
            font-size: 45px;
        }

        svg{
            @include transition;

            height:320px;
            opacity:.15;
             /* align center */
            margin:-20px 0 0 20px;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }
    }

}

.curricula_button{
    @include transition;

    height:266px;
    width:32%;
    float:left;
    margin:20px 20px 10px 0;
    background:#9bb2c8;
    overflow:hidden;

    position:relative;

    p{
        @include transition;

        z-index:99;
        position:absolute;

        width:100%;
        float:left;

        text-align:center;
        color: white;
        font-family: futura-pt;
        font-weight: 900;
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 53px;
        text-transform: uppercase;
        line-height:370px;
    }

    svg{
        @include transition;

        fill:white;
        height:113px;
        float:left;
        margin:50px 0 0 115px;

        z-index:0;
         /* align center */
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;

    }

    &:hover{
        background:#b1c7da;

        p{
            line-height:266px;
            font-size: 45px;
        }

        svg{
            @include transition;

            height:310px;
            opacity:.15;
             /* align center */
            margin:-20px 0 0 35px;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }
    }

}

.howto_button{
    @include transition;

    height:266px;
    width:32%;
    float:left;
    margin:20px 0 10px 0;
    background:#9bb2c8;
    overflow:hidden;

    position:relative;

    p{
        @include transition;

        z-index:99;
        position:absolute;

        width:100%;
        float:left;

        text-align:center;
        color: white;
        font-family: futura-pt;
        font-weight: 900;
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 53px;
        text-transform: uppercase;
        line-height:370px;
    }

    svg{
        @include transition;

        fill:white;
        height:113px;
        float:left;
        margin:50px 0 0 105px;

        z-index:0;
         /* align center */
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;

    }

    &:hover{
        background:#b1c7da;

        p{
            line-height:266px;
            font-size: 45px;
        }

        svg{
            @include transition;

            height:320px;
            opacity:.15;
             /* align center */
            margin:-30px 0 0 2px;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }
    }

}


.activity_list_item{
    @include full;

    background:#f7f7f7;
    padding:5px 10px;
    margin:10px 0 10px 0;

    p{
        float:left;
        line-height:37px;
    }

    a{
        font-weight:bold;
        color:#c72626;

        &:hover{
        text-decoration:underline;
        }
    }
}


.assignment{
    float:left;
    fill:white;
    height:25px;
    padding:3px;
    margin:5px 10px 5px 0px;
    background:#e58bb3;
}

.swirl{
    float:left;
    fill:white;
    height:25px;
    padding:3px;
    margin:5px 10px 5px 0px;
    background:#eac275;
}


.guild_banner{
    width:100%;
    margin:20px 0 0 0;
    display: block;
    .guild_icon{
        @include transition;

        width:100%;
        height:120px;
        margin:0 0 10px 0;
        background:#aadb89;
        overflow:hidden;

        position:relative;

        .guild_title{
            color: #fff;
            font-family: futura-pt;
            font-weight: 900;
            font-size: 35px;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height:120px;
            margin:0 0 0 50px;

            position:absolute;
            z-index:99;
        }
        .guild_classname{
            color: #fff;
            font-family: futura-pt;
            font-weight: 900;
            font-size: 19px;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height:190px;
            margin:0 0 0 50px;

            position:absolute;
            z-index:99;
        }

        .right{
            position:relative;
        }


        #svg{
            height:150px;
            width:150px;
        }
        svg{
            fill:white;
            height:100%;
            width:100%;
            margin:-15px 0 0 0;
            opacity:.25;

            z-index:0;
        }

        .red_button{
            margin-top: 40px;
            margin-right: 20px;
        }
    }
}

.guild_form{
    margin-bottom:20px;

    .field_item{
        @include full;

        margin:0 0 20px 0;
    }

    .last_field_item{
        @include full;

        margin: 0 0 0 0;
    }

    .field_item,
    .last_field_item{
        label{
            color: #9aa4ad;
            font-family: futura-pt;
            font-weight: 900;
            font-size: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height:35px;
        }
    }

    input[type="text"]{
        float:right;
        width:83%;
        padding:5px 10px;
        background:#f7f7f7;
        border:1px solid #d7dbdf;

        font-family:open sans;
        font-size:16px;
        color:#617587;
    }

    .guild_swatches{
        float:right;
        width: 83%;

        .radio{
            font-size:0px;
        }

        .swatch{
            display: inline;
        }

        .checkbox{
            content: 'X';
            font-size: 25px;
            color: rgba(255,255,255,.5);
            font-family: hwt-gothic-round;
            font-weight: 900;
            transition: all .2s;
        }

        input[type="checkbox"],input[type="radio"]{
            -moz-appearance:none;
            -webkit-appearance:none;
            -o-appearance:none;
            height:31px;
            width:31px;
            outline: 0px;
            border:1px solid #d7dbdf;
            background:none;

            float: left;
            margin-right: 10px;

            &:checked{
                &:after{
                    content: 'X';
                    font-size: 28px;
                    color: rgba(255,255,255,.5);
                    font-family: hwt-gothic-round;
                    font-weight: 900;
                    transition: all .2s;
                    padding-left: 4px;
                }
            }

            &:hover{
                border: 1px solid white;
                padding: 1px;
                cursor: pointer;
            }
        }

        #guild_color_blue{
            background:#9BB2C8;
        }
        #guild_color_pink{
            background:#E58BB3;
        }

        #guild_color_green{
            background:#AADB89;
        }

        #guild_color_orange{
            background:#EAC275;
        }
    }

    .guild_icon_container{

        input[type="checkbox"],input[type="radio"]{
            -moz-appearance:none;
            -webkit-appearance:none;
            -o-appearance:none;
            height:32px;
            width:32px;
            outline: 0px;
            border:1px solid #d7dbdf;
            background: none;

            float: left;
            margin-right: -100%;

            &:checked{
                border: 1px solid white;
            }

            &:hover{
                border: 1px solid white;
                padding: 1px;
                cursor: pointer;
            }
            margin-left: -1px;
            margin-top: -1px;
        }

        svg{
            z-index: 90;
            padding-top:1px;
            padding-left:1px;
            height:30px;
            width:30px;
        }
    }
}


.sublabel{
    float:left;
    color: #9aa4ad;
    font-family: futura-pt;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 35px;
}

.guild_icon_container{
    float:right;
    width:83%;

    svg{
        height:31px;
        width:31px;
        padding:3px;
        fill:white;
        background:#999;
        float:left;
        margin-right:10px;
        border:1px solid #999;

        &:hover{
            cursor:pointer;
            border:1px solid white;
        }
    }
}

/* End Elements */


/*----

    Colors


----*/
.blue{
    background:#9BB2C8 !important;
}
.pink{
    background:#E58BB3 !important;
}

.gray{
    background:rgb(200, 200, 205) !important;
}

.green{
    background:#AADB89 !important;
}

.orange{
    background:#EAC275 !important;
}

.center{
    text-align: center;
}


/*------------------------------------------------------------------

    Footer

-------------------------------------------------------------------*/
footer{  }

/* End Footer */




/*------------------------------------------------------------------

    Modifications

-------------------------------------------------------------------*/


.game_thumb{
    @include transition;

    height:209px;
    width:314px;
    z-index:0;
    position:relative;

    &:hover,
    &:active{
       box-shadow: inset 15px 15px 0px #18222b,
                   inset -15px 0px 0px #18222b;

        .play_now_button{ opacity:1; margin:85px 0 0 70px; }
   }

   .play_now_button{
        @include transition;

        opacity:0;
        height:53px;
        width:184px;
        float:left;
        background:#c72626;
        margin:120px 0 0 70px;

        z-index:99;
        position:relative;

        p{
           font-family:futura-pt;
           font-weight:900;
           font-size:20px;
           color:white;
           letter-spacing:1px;
           line-height:53px;
           text-transform:uppercase;

           float:left;
           margin-left:10px;
        }

        .play_button_icon{
            height:45px;
            width:45px;
            float:right;
            background:url(play_button_icon.png);
            margin:4px
        }
    }
}


#play_container{
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    width: 100%;
}


#Player{
  background: transparent !important;
  height: 640px;
  width: 940px;

  embed{
    width: 100%    !important;
    height: 100%  !important;
  }
}

#unityPlayer{
  margin: 0 auto;
  clear: both;
}

#instruction_container{
    width: 400px !important;
    margin-top: 50px;

    #download_instructions{
        margin: 10px 0 20px 0;
    }

    .game_header{
        a{
            margin-top: 10px;
            margin-right: 35%;
        }
    }
}

#class-form{

    input[type="submit"]{
        border:0px solid black;

        @include transition;
        background:#c72626;

        &:hover{ background:#e14949;}
        padding:10px;
        margin-top:10px;
        font-family:futura-pt;
        font-weight:900;
        font-size:20px;
        color:white;
        letter-spacing:1px;
        text-transform:uppercase;
    }

}

#notifications{
    width: 100%;
    padding: 20px;
    margin: 0 auto;

    text-align:center;

    .error_container{
        width: 30%;
        margin: 0 auto;
        font-size: 11pt;
        li{
            text-align:left;
        }
    }

    &:empty{
        display: none;
    }
}

.red_button{
    margin-right: 5px;
    margin-bottom: 5px;
    border: 0px;
}


.field_with_errors{
    input{
        border: 1px solid #C72626 !important;
    }
}
/* End Modifications */



