/* IMPORTS */
@import 'google_forms';
@import 'base';

*{ margin: 0;padding: 0; }

/* GENERALS ------------------------------------------------------------------*/

html{ overflow:scroll; }
body{ background: image-url("bg_tile.jpg"); }
ul{ list-style:none;  }

hr{
    border-top:1px dashed #b9aea0;
    border-bottom:1px dashed white;
    margin:20px 0 20px 0;
    width:100%;
    float:left;
}

a{ text-decoration:none; }
p{ color:#4b433b; font-family:georgia; font-size:14px; }

/* end GENERALS ------------------------------------------------------------------*/


/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Homenaje', sans-serif; */



/* CLASSES --------------------------------------*/
.orange{ color:#e9b252; }
.bold{ font-weight:bold; }

.clear{ clear: both; }
.center{ margin: 0 auto;}
.floatleft{ float:left; }
.floatright{ float:right; }

.large{ font-size: 1.2em};
.medium{ font-size: 0.97em};
.small{ font-size: 0.67em};

.readable{
    line-height: 1.17em;
    font-family: Verdana;
}
/* end CLASSES ----------------------------------*/

// Header
#header{
    width: 100%;
    margin-top: 10px;
    height: 55px;

    #links{
        padding-top:17px;
        padding-left:90px;


        a{
            font-size: 1.2em;
            color: white;
            font-family: georgia;
            margin-right: 10px;
            display: inline-block;
        }
    }

    background-image: image-url("nav_bg.png");

    #account{
        margin-top: -2px;
        float: right;
    }
}


.page_wrap{ width:980px; margin:0 auto; }

.main_content{
    width:940px;
    padding:20px 20px 0 20px;
    background: #ece8d7;
    border: 3px solid #b9aea0;
    float:left;

    @include rounded(10px);
}

.mc_header{ width:100%; text-align:center; float:left;}
    .mc_header h1{
        color:#4b433b;
        font-family: 'Homenaje', sans-serif;
        text-transform:uppercase;
    }

.link_button{
    width: 100px;
    margin: 2px;
    border:4px solid #4b433b;
    background:#bc7b4b;
    display:block;
    float:right;
    clear:both;

    color:#fbf9e4;
    font-size:20px;
    font-family: 'Homenaje', sans-serif;
    text-align: center;
    vertical-align: middle;
    text-transform:uppercase;

    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    @include rounded(10px);
    padding: 5px;

    a:visited{
        color:#fbf9e4;
    }

    &:hover{
        background:#e2aa81;
        border:4px solid #9b8c7d;
        color:white;

        box-shadow:0px 3px 4px #cfc797;
        -webkit-transition: all 0.2s ease;
    }
}

.button{
    background:#bc7b4b;
    border:4px solid #4b433b;
    padding:10px;
    width: 70px;
    display:block;

    text-align:center;
    color:#fbf9e4;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;

    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    @include rounded(10px);

    &:hover{
        background:#e2aa81;
        border:4px solid #9b8c7d;
        color:white;

        box-shadow:0px 3px 4px #cfc797;
        -webkit-transition: all 0.2s ease;
    }
}

.hover:hover{
    background:#e2aa81;
    border:4px solid #9b8c7d;
    color:white;

    box-shadow:0px 3px 4px #cfc797;

    -webkit-transition: all 0.2s ease;
}

.large_pathfinder_logo{
    margin:20px 0 0 310px;
    margin: 0 auto;
    height:400px;
    width:313px;
    background:image-url("big_pathfinder_logo.png");
}

.AcceptDecline_container { width:100%; float:left; }
.AcceptDecline{ float:left; margin-left:370px; }
        .AcceptDecline li{ float:left; display:inline; margin:0 0 20px 5px; -webkit-transition: all 0.2s ease;}
            .AcceptDecline li a{
                background:#bc7b4b;
                border:4px solid #4b433b;
                padding:10px;
                display:block;

                color:#fbf9e4;
                font-size:20px;
                font-family: 'Homenaje', sans-serif;
                text-transform:uppercase;

                -webkit-transition: all 0.2s ease;

                @include rounded(10px);
            }
            .AcceptDecline li a:hover{
                background:#e2aa81;
                border:4px solid #9b8c7d;
                color:white;

                box-shadow:0px 3px 4px #cfc797;

                -webkit-transition: all 0.2s ease;

            }
                .AcceptDecline li a span{ height:100%; width:100%; display:block; -webkit-transition: all 0.2s ease;}

/*--UNITY-----------------------------------------------------------------------------*/

.missing {
    margin: auto;
    position: relative;
    top: 50%;
    width: 193px;

    a {
        height: 63px;
        position: relative;
        top: -31px;
    }

    img {
        border-width: 0px;
    }
}

#unityPlayer {
    padding:20px 0 20px 0;
    margin-left:08%;
    float:left;
    cursor: default;
    height: 600px;
    width: 800px;
}

.login_container{
    float:left;
    width: 100%;
}

.field_with_errors #user_login,
.field_with_errors #user_password,
.field_with_errors #user_password_confirmation
{
    border:3px solid #e16161;
    float:left;
}

.error_list{ list-style:disc; }
    .error_list li{
        color:#e16161;
        margin:10px 0 10px 35px;
    }

#error_explanation h4{ font-family: georgia; color:#e16161;}

.error_container{
    width: 610px;
}

.error{
    border:3px solid #e16161;
    padding: 2px;
   @include rounded(2px);
}

.error_box{
    margin:5px;
    width: 650px;
    padding: 8px;
    border:3px solid #e16161;
    background: #fffef6;
    font-family:georgia;
    color:#bb7b4b;
    font-size:16px;

    @include rounded(10px);

    clear: left;

    .error_img{
        width: 25px;
        height: 25px;
        display: inline-block;

        background: image-url("pf_control_sprite.png") no-repeat -29px -122px;
    }

    #notice{
        margin-bottom: 6px;
        display: inline-block;
        vertical-align:text-bottom;
    }
}


/* Games */
#about{
    font-size: 0.97em;
    display: inline-block;
    margin-top: 10px;

    p{
        margin-top: 5px;
    }
}

#resources{
    font-size: 0.97em;
    //display: block;
    margin-top: 10px;
    width: 70%;
    float: left;
}

#play{
    margin-top: 10px;
    display: inline-block;
    float: right;
}

#game_links{
    clear:both;
    display: block;

    background: #eee;
    padding: 5px;

    a{
        margin: 10px;
        padding: 10px;
        font-size: 20px;
    }
}

.games{
    width: 100%;
    margin: 0 auto;
}

.game{
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 20px;
}

.placeholder{
    height: 218px;
    width: 492px;
    float:left;
    margin: 0;
}

.description{
    padding: 0px 10px 10px 10px;
    width: 400px;
    float:left;

    h1{
        font-size: 12px;
        font-family: proxima-nova;
        font-weight: 700;
        color: #42494f;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 30px;
    }

    p{
        font-family: proxima-nova;
        color: #74838d;
        font-size: 15px;
    }
}