
/*------------------------------------------------------------------

STYLESHEET CONTENTS

    -- GLOBAL STYLES
    -- MIXINS
    -- MISC CLASSES
    -- ACTIVE PAGE
    -- CONTAINERS
    -- NAVIGATION
    -- ELEMENTS
    -- FOOTER

-------------------------------------------------------------------*/


/*------------------------------------------------------------------

    Global Styles

-------------------------------------------------------------------*/

* {
    margin:0; padding:0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

html{ overflow:scroll; background:url(bg.png) #f5f5f5 no-repeat;  }

body{ font-family:verdana; font-size:12px; }

a{ text-decoration:none; }
    a:hover{  }

p,input{
    font-family: alwyn-new-rounded-web;
    color: #617587;
    font-size: 18px;
    font-weight: 500;
}

.subhead{
    color: #18222B;
    font-family: futura-pt;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

ul{ list-style:none; }

hr{  }

h1{  }
h2{  }
h3{  }
h4{  }
h5{  }

::selection{ background:#C72626; color:white; }

/* End Global Styles */


/*------------------------------------------------------------------

    Mixins

-------------------------------------------------------------------*/

@mixin center{ margin:0 auto; }

@mixin full { width:100%; float:left; }

@mixin transition{
    -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
}

@mixin rounded_corners{
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}


/* End Mixins */


/*------------------------------------------------------------------

    Misc Classes

-------------------------------------------------------------------*/

.clear{ clear: both; }

.left{ float:left; }
.right{ float:right; }

.bold{ font-weight:bold;}
.italic{ font-style: italic; }
.underline{ text-decoration:underline; }
.redtext{ color:#c72626; }

.center_text{ text-align:center; }
.all_caps{ text-transform:uppercase; }
.lower_case{ text-transform:lowercase; }

/* End Misc Classes */



/*------------------------------------------------------------------

    Active Page

-------------------------------------------------------------------*/

    /*
      body#ID_NAME_HERE .Navigation_Name li.List_Item_Class_Here{ Style for active Nav button }
    */

/* End Active Page */



/*------------------------------------------------------------------

    Containers

-------------------------------------------------------------------*/

.one_eigth{ width:12.5%; }
.one_sixth{ width:16.66%;}
.one_fourth{ width:25%; }
.one_third{ width:33.33%; }
.one_half{ width:50%; }
.two_thirds{ width:66.66%; }
.full{ @include full; }

.container{  }

.page_wrap{ width:1010px; padding-top:20px; @include center; }

.main_content{ @include full; }

/* End Containers */



/*------------------------------------------------------------------

    Navigation

-------------------------------------------------------------------*/

header{
    @include full;

    height:67px;
    background:#18222b;
    margin:0 0 25px 0;

    .navigation_container{
        @include center;

        width:980px;

        .nav{
            float:right;

            li{
                @include transition;

                height:67px;
                float:left;
                padding:0 20px 0 20px;

                font-family:alwyn-new-rounded-web;
                color:#e1e8ee;
                line-height:67px;
                font-size:20px;
                font-weight:200;

                &:hover{
                    background:#c72626;
                }
            }

            .logged_in{
                float:right;
                text-align:right;
                margin:12px 0 0 20px;

                font-family:alwyn-new-rounded-web;
                font-weight:200;

                .username{
                    color:#e1e8ee;
                    font-size:18px;
                }

                .log_out{
                    @include transition;

                    color:#C72626;
                    font-size:13px;

                    &:hover{
                        color:white;
                    }
                }
            }
        }
    }

    .logo_container{


        .glss_logo{
            height:53px;
            width:47px;
            float:left;
            margin:5px 0 0 0;
            background:url(glss_logo.png);
        }

        .gamesportal_logotype{
            float:left;
            margin:6px 0 0 13px;

            p{
                color:#e1e8ee;
                font-family:futura-pt;
                font-weight:900;
                font-size:30px;
                letter-spacing:1px;
                line-height:53px;
                text-transform:uppercase;
            }
        }
    }
}




/* End Navigation */



/*------------------------------------------------------------------

    Elements

-------------------------------------------------------------------*/

.element{  }

.subsection{
    @include full;

    margin-bottom:20px;
}

.featured_game_econauts{
    height:315px;
    width:980px;
    margin:0 0px 20px 12px;
    float:left;
    background:url(featured_game_econauts.png);
    background-repeat: no-repeat;
    background-size: 100%;

    .featured_label{
        background: #18222b;
        padding:20px;
        float:left;
        margin:175px 0 0 30px;

        p{
            color: #e1e8ee;
            font-family: futura-pt;
            font-weight: 900;
            font-size: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .featured_game_name{
                font-size:30px;
                color:#c72626;
            }

    }
}

.game_button{
    height:276px;
    width:314px;
    background:#18222b;
    float:left;
    margin:0px 10px 20px 10px;

    .game_label{
        height:67px;
        width:314px;
        background:#18222b;

        p{
            font-family:futura-pt;
            font-weight:900;
            font-size:22px;
            color:white;
            letter-spacing:1px;
            line-height:67px;
            text-align:center;
            text-transform:uppercase;
        }
    }

}


.game_content_container{
    @include center;

    width:800px;

    .game_header{
        @include full;

        p{
            float:left;
            color: #18222B;
            font-family: futura-pt;
            font-weight: 900;
            font-size: 30px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        a{
            @include transition;

            float:right;
            background:#c72626;

            &:hover{ background:#e14949;}

            p{
                margin:10px;
                font-family:futura-pt;
                font-weight:900;
                font-size:20px;
                color:white;
                letter-spacing:1px;
                text-transform:uppercase;
            }
        }

    }

}

.admin_buttons{
        a{
            @include transition;

            float:left;
            background:#cecece;
            margin:0 10px 0 0;

            &:hover{ background:#bababa;}

            p{
                margin:10px;
                font-family:futura-pt;
                font-weight:900;
                font-size:15px;
                color:white;
                letter-spacing:1px;
                text-transform:uppercase;
            }
        }
    }


.dashboard_content_container{
    @include center;

    width:980px;

    .header{
        @include full;

        p{
            float:left;
            color: #18222B;
            font-family: futura-pt;
            font-weight: 900;
            font-size: 30px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        a{
            @include transition;

            float:right;
            background:#c72626;

            &:hover{ background:#e14949;}

            p{
                margin:10px;
                font-family:futura-pt;
                font-weight:900;
                font-size:20px;
                color:white;
                letter-spacing:1px;
                text-transform:uppercase;
            }
        }

    }

}


/* End Elements */



/*------------------------------------------------------------------

    Footer

-------------------------------------------------------------------*/
footer{  }

/* End Footer */




/*------------------------------------------------------------------

    Modifications

-------------------------------------------------------------------*/


.game_thumb{
    @include transition;

    height:209px;
    width:314px;
    z-index:0;
    position:relative;

    &:hover,
    &:active{
       box-shadow: inset 15px 15px 0px #18222b,
                   inset -15px 0px 0px #18222b;

        .play_now_button{ opacity:1; margin:85px 0 0 70px; }
   }

   .play_now_button{
        @include transition;

        opacity:0;
        height:53px;
        width:184px;
        float:left;
        background:#c72626;
        margin:120px 0 0 70px;

        z-index:99;
        position:relative;

        p{
           font-family:futura-pt;
           font-weight:900;
           font-size:20px;
           color:white;
           letter-spacing:1px;
           line-height:53px;
           text-transform:uppercase;

           float:left;
           margin-left:10px;
        }

        .play_button_icon{
            height:45px;
            width:45px;
            float:right;
            background:url(play_button_icon.png);
            margin:4px
        }
    }
}


#play_container{
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    width: 100%;
}


#Player{
  background: transparent !important;
  height: 640px;
  width: 940px;

  embed{
    width: 100%    !important;
    height: 100%  !important;
  }
}

#unityPlayer{
  margin: 0 auto;
  clear: both;
}

#instruction_container{
    width: 400px !important;
    margin-top: 50px;

    #download_instructions{
        margin: 10px 0 20px 0;
    }

    .game_header{
        a{
            margin-top: 10px;
            margin-right: 35%;
        }
    }
}

#class-form{

    input[type="submit"]{
        border:0px solid black;

        @include transition;
        background:#c72626;

        &:hover{ background:#e14949;}
        padding:10px;
        margin-top:10px;
        font-family:futura-pt;
        font-weight:900;
        font-size:20px;
        color:white;
        letter-spacing:1px;
        text-transform:uppercase;
    }

}

/* End Modifications */



