*{ margin: 0;padding: 0; }

/* GENERALS ------------------------------------------------------------------*/

html{ overflow:scroll; }
body{ background: image-url("bg_tile.jpg"); }
ul{ list-style:none;  }

hr{
    border-top:1px dashed #b9aea0;
    border-bottom:1px dashed white;
    margin:20px 0 20px 0;
    width:100%;
    float:left;
}

a{ text-decoration:none; }
p{ color:#4b433b; font-family:georgia; font-size:14px; }

/* end GENERALS ------------------------------------------------------------------*/


/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Homenaje', sans-serif; */



/* CLASSES --------------------------------------*/

.clear{ clear: both; }
.floatleft{ float:left; }



/* end CLASSES ----------------------------------*/

.page_wrap{ width:980px; margin:0 auto; }

.navigation{ width:980px; height:90px; float:left; padding:10px 0 0 0; }
    .pathfinder_logo{
        float:left;
        margin:25px 0 0 0;
        padding:0 15px 0 0;
        border-right:1px solid #b9aea0;
        
        background: image-url("pf_control_sprite.png") no-repeat -37px -22px;
	width: 201px;
	height: 49px;
    }
    
    .nav{ float:right; }
        .nav li{ float:left; display:inline; margin:25px 0 0 5px; -webkit-transition: all 0.2s ease;}
            .nav li a{
                background:#bc7b4b;
                border:4px solid #4b433b;
                padding:10px;
                display:block;
                
                color:#fbf9e4;
                font-size:20px;
                font-family: 'Homenaje', sans-serif;
                text-transform:uppercase;
                
                -webkit-transition: all 0.2s ease;                
                
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px; 
                -khtml-border-radius: 10px;
            }
            .nav li a:hover{
                background:#e2aa81;
                border:4px solid #9b8c7d;
                color:white;
                
                box-shadow:0px 3px 4px #cfc797;
                
                -webkit-transition: all 0.2s ease;
                
            }
                .nav li a span{ height:100%; width:100%; display:block; -webkit-transition: all 0.2s ease;}
    
    .help_us_button{
        background:#507a7c;
        border:4px solid #4b433b;
        float:right;
        padding:10px;
        margin:8px 0 0 5px; 
        
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; 
        -khtml-border-radius: 10px;
    }
        .help_us_button_game_page{
        background:#507a7c;
        border:4px solid #4b433b;
        float:left;
        padding:10px;
        margin:20px 0 0 350px; 
        
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; 
        -khtml-border-radius: 10px;
    }
        .help_text{
            color:#fddfca;
            font-family: 'Montserrat', sans-serif;
            text-transform:uppercase;
            font-size:12px;
        }
        
        .iat_link{
            background:#bc7b4b;
            border:4px solid #4b433b;
            padding:5px;
            margin:5px 0 0 0;
            display:block;
            width:93%;
            text-align:center;
            
            color:#fbf9e4;
            font-size:12px;
            font-family: 'Montserrat', sans-serif;
            text-transform:uppercase;
            
            -webkit-transition: all 0.2s ease;                
            
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px; 
            -khtml-border-radius: 10px;     
        }
            .iat_link:hover{
                background:#e2aa81;
                color:white;
                
                -webkit-transition: all 0.2s ease;
            }
            .iat_link span{ height:100%; width:100%; display:block;}
    
.breadcrumbs{ width:980px; float:left; margin:0 0 20px 0; }
    .crumbs{
        color:#b9aea0;
        text-shadow:0px 1px 1px white;
        text-transform:uppercase;
        font-family: 'Montserrat', sans-serif;
        
    }

.main_content{
    width:940px;
    padding:20px 20px 0 20px;
    background: #ece8d7;
    border: 3px solid #b9aea0;
    float:left;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;
}


    .mc_header{ width:100%; text-align:center; float:left;}
        .mc_header h1{
            color:#4b433b;
            font-family: 'Homenaje', sans-serif;
            text-transform:uppercase;
        }
        
    .bias_buttons{ width:100%; float:left;}
        .bias_buttons li{ display:inline; margin:0 0 20px 0; float:left;}
            .bias_buttons li a{
                width:910px;
                background:#fbf9e4;
                border:4px solid #908074;
                padding:10px;
                display:block;
                font-size:19px;
                
                text-align:center;
                color:#908074;
                text-shadow:0px 1px 1px white;
                text-transform:uppercase;
                font-family: 'Montserrat', sans-serif;
                
                -webkit-transition: all 0.2s ease;
                
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px; 
                -khtml-border-radius: 10px;
            }
            .bias_buttons li a:hover{
                background:#fdfbeb;
                border:4px solid #beb4a6;
                box-shadow:0px 3px 4px #cfc797;
                color:#cfc3b3;
                
                -webkit-transition: all 0.2s ease;
                
            }
                .bias_buttons li a span{ height:100%; width:100%; display:block; }



    .example_container{ width:100%; float:left; }
        .ex_number{
            float:left;
            width:160px;            
            margin:0 20px 0 0;
            
            font-family: 'Homenaje', sans-serif;
            text-transform:uppercase;
        }
            .ex_number h1{ color:#908074; padding-top:15%; }
            
        .example_text{ width:730px; float:right; border-left:1px solid #908074; padding-left:20px; }
            .example_text p{ color:#4b433b; }


.AcceptDecline_container { width:100%; float:left; }
.AcceptDecline{ float:left; margin-left:370px; }
        .AcceptDecline li{ float:left; display:inline; margin:0 0 20px 5px; -webkit-transition: all 0.2s ease;}
            .AcceptDecline li a{
                background:#bc7b4b;
                border:4px solid #4b433b;
                padding:10px;
                display:block;
                
                color:#fbf9e4;
                font-size:20px;
                font-family: 'Homenaje', sans-serif;
                text-transform:uppercase;
                
                -webkit-transition: all 0.2s ease;                
                
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px; 
                -khtml-border-radius: 10px;
            }
            .AcceptDecline li a:hover{
                background:#e2aa81;
                border:4px solid #9b8c7d;
                color:white;
                
                box-shadow:0px 3px 4px #cfc797;
                
                -webkit-transition: all 0.2s ease;
                
            }
                .AcceptDecline li a span{ height:100%; width:100%; display:block; -webkit-transition: all 0.2s ease;}


.large_pathfinder_logo{
    margin:20px 0 0 310px;

    height:400px;
    width:313px;
    background:image-url("big_pathfinder_logo.png");
}


.footer{ width:980px; float:left; margin:0 0 20px 0; }
    .eria_logo{
        float:left;
        margin:20px 40px 0 60px;
        
        background: image-url("pf_control_sprite.png") no-repeat -103px -104px;
	width: 68px;
	height: 47px;    
    }
    .mir_logo{
        float:left;
        margin:20px 40px 0 0;
        
        background: image-url("pf_control_sprite.png") no-repeat -37px -243px;
	width: 201px;
	height: 24px;        
    }
    .wid_logo{
        float:left;
        margin:20px 40px 0 0;
        
       background: image-url("pf_control_sprite.png") no-repeat -37px -183px;
	width: 201px;
	height: 24px;       
    }
    .uwm_logo{
        float:left;
        margin:0 40px 0 0;
        
        background: image-url("pf_control_sprite.png") no-repeat -58px -287px;
	width: 160px;
	height: 67px;
    }
    
    .NIH_logo{
        float:left;
        margin:0 0 0 0;
        
        background: image-url("pf_control_sprite.png") no-repeat -112px -362px;
	width: 66px;
	height: 66px;
    }





/*--UNITY-----------------------------------------------------------------------------*/

.missing {
    margin: auto;
    position: relative;
    top: 50%;
    width: 193px;
}
.missing a {
    height: 63px;
    position: relative;
    top: -31px;
}
.missing img {
    border-width: 0px;
}

#unityPlayer {
    padding:20px 0 20px 0;
    margin-left:08%;
    float:left;
    cursor: default;
    height: 600px;
    width: 800px;
}




.login_container{ float:left; }

.LoggedInAs{ width:100%; float:left; text-align:center; }
.LoggedInAs p{ float:left; margin:12px 0 0 290px; text-shadow:0px 1px 1px white; }
    .Logged{ float:left; width:100px; margin:0 0 0 20px; padding:0 0 0 20px; border-left:1px solid #d9d2c0; }
    .Logged li{ display:inline; margin:0 0 0 0; -webkit-transition: all 0.2s ease;}
            .Logged li a{
                background:#bc7b4b;
                border:4px solid #4b433b;
                padding:5px;
                display:block;
                
                color:#fbf9e4;
                font-size:20px;
                font-family: 'Homenaje', sans-serif;
                text-transform:uppercase;
                
                -webkit-transition: all 0.2s ease;                
                
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px; 
                -khtml-border-radius: 10px;
            }
            .Logged li a:hover{
                background:#e2aa81;
                border:4px solid #9b8c7d;
                color:white;
                
                box-shadow:0px 3px 4px #cfc797;
                
                -webkit-transition: all 0.2s ease;
                
            }
                .Logged li a span{ height:100%; width:100%; display:block; -webkit-transition: all 0.2s ease;}
.orange{ color:#bb7b4b; }
.bold{ font-weight:bold; }

input.SignInButton, input.SignUpButton, input.ResetPasswordButton{ background:#bc7b4b;
        border:4px solid #4b433b;
        padding:5px;
        display:block;
        text-transform:uppercase;
        float: left;
        
        width:220px;
        
        color:#fbf9e4;
        font-size:20px;
        font-family: 'Homenaje', sans-serif;
        
        -webkit-transition: all 0.2s ease;                
        
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; 
        -khtml-border-radius: 10px;
}
    input.SignInButton:hover, input.SignUpButton:hover, input.ResetPasswordButton{
        background:#e2aa81;
        border:4px solid #9b8c7d;
        color:white;
        
        box-shadow:0px 3px 4px #cfc797;
        
        -webkit-transition: all 0.2s ease;
    }

 .SignUp, .SignIn, .ForgotPassword{ color:#4b433b; margin-right:20px; }
    .SignUp:hover, .SignIn:hover, .ForgotPassword:hover{ color:#bb7b4b; border-bottom:2px dotted #bb7b4b; }
    .SignUp_ForgotPassword_container{ margin:10px 0 0 360px; }

.new_user{ margin:0 0 0 360px; }
label{ color:#4b433b; font-family:georgia; font-size:14px; }
#user_login, #user_password, #user_password_confirmation{
    float:left;
    padding:10px;
    border:none;
    border:3px solid #ab9d90;
    background: #fffef6;
    font-family:georgia;
    color:#bb7b4b;
    font-size:14px;
    margin:0 0 10px 0;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;
}


.field_with_errors #user_login,
.field_with_errors #user_password,
.field_with_errors #user_password_confirmation
{
    border:3px solid #e16161;
    float:left;
}

.error_list{ list-style:disc; }
    .error_list li{
        color:#e16161;
        margin:10px 0 10px 35px;
    }

#error_explanation h4{ font-family: georgia; color:#e16161;}

.error_box{
    margin:5px 0 0 5px;
    border:none;
    float:left;
    border:3px solid #e16161;
    background: #fffef6;
    font-family:georgia;
    color:#bb7b4b;
    font-size:14px;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;
    
    background: image-url("pf_control_sprite.png") no-repeat -29px -122px;
    width: 25px;
    height: 25px;
}


/* DROPDOWN --------------------------------------------------------------------*/
/* Main menu settings */
#centeredmenu {
   clear:both;
   float:left;
   margin:0;
   padding:0;
   /* Menu font */
   /* Menu text size */
   z-index:1000; /* This makes the dropdown menus appear above the page content below */
   position:relative;
}


#centeredmenu ul li ul li a.first_link{
    border-bottom:1px solid white;
    border-top:0px;
    color:#908074;
    
    text-shadow:0px 1px 1px white;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}


#centeredmenu ul li ul li a.middle_link{
    border-top:1px solid #ece8d7;
    border-bottom:1px solid white;
    color:#908074;
    
    text-shadow:0px 1px 1px white;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}


#centeredmenu ul li ul li a.last_link{
    border-top:1px solid #ece8d7;
    color:#908074;
    
    text-shadow:0px 1px 1px white;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;    
}


/* Top menu items */
#centeredmenu ul {
   margin:0;
   padding:0;
   list-style:none;
   float:right;
   position:relative;
   text-align:center;

}
#centeredmenu ul li {
   margin:25px 0 0 0;
   padding:0;
   float:left;
   position:relative;
}

#centeredmenu ul li a { display:block; }


#centeredmenu ul li.active a { }
#centeredmenu ul li a:hover { }
#centeredmenu ul li:hover a,
#centeredmenu ul li.hover a { /* This line is required for IE 6 and below */
    /* Top menu items background colour */

}

/* Submenu items */
#centeredmenu ul ul {
   display:none; /* Sub menus are hiden by default */
   position:absolute;

   right:auto; /*resets the right:50% on the parent ul */
    /* width of the drop-down menus */
}
#centeredmenu ul ul li {
   left:auto;  /*resets the left:50% on the parent li */
   margin:0; /* Reset the 1px margin from the top menu */
   clear:left;
   width:148px;
   margin-left:7px;
}
#centeredmenu ul ul li a,
#centeredmenu ul li.active li a,
#centeredmenu ul li:hover ul li a,
#centeredmenu ul li.hover ul li a { /* This line is required for IE 6 and below */
   font-size:13px;
   font-weight:normal; /* resets the bold set for the top level menu items */
  /* overwrite line-height value from top menu */
   background:#fbf9e4;
   
}


#centeredmenu ul ul li a:hover,
#centeredmenu ul li.active ul li a:hover,
#centeredmenu ul li:hover ul li a:hover,
#centeredmenu ul li.hover ul li a:hover { /* This line is required for IE 6 and below */
    /* Sub menu items background colour */
    box-shadow:none;
    background:white;
}

/* Flip the last submenu so it stays within the page */
#centeredmenu ul ul.last {
   left:auto; /* reset left:0; value */
   right:0; /* Set right value instead */
}

/* Make the sub menus appear on hover */
#centeredmenu ul li:hover ul,
#centeredmenu ul li.hover ul { /* This line is required for IE 6 and below */
   display:block; /* Show the sub menus */
}

.do_a_barrel_roll {
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}
@-webkit-keyframes rotateThis {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
