#play_container{
  margin: 10px;
  height: 25pc;
  clear: both;

  #instructions{
    margin: 0 auto;
    clear: both;
    height: 100%;
    h2 {text-align: center;}
    p{ height: 70%; }

    a{
      display: inline-block;
      margin: 0 auto;
    }

    #external{
      width: 200px;
      margin: 0 auto;
    }
  }
}

#unityPlayer{
  margin: 0 auto;
  clear: both;
}