#play_container{
  margin: 10px;
  clear: both;

  #instructions{
    margin: 0 auto;

    h2 {text-align: center;}
    a{ display: inline-block; }

    #external{
      margin: 0 auto;
      width: 200px;
    }
  }
}

#unityPlayer{
  margin: 0 auto;
  clear: both;
}