
<% if !logged_in %>
  <%= link_to main_app.login_path, class: "left" do %>
    <div class="blue_button">
      <p>Log In</p>
    </div>
  <% end %>
  <%= link_to main_app.guest_path, class: "right" do %>
    <div class="blue_button">
      <p>Guest</p>
    </div>
  <% end %>
<% end -%>

